<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>818741741246-t9pkk0mkh89ubf4nd0kmubtmiuiehfk8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.818741741246-t9pkk0mkh89ubf4nd0kmubtmiuiehfk8</string>
	<key>API_KEY</key>
	<string>AIzaSyByOmx8aAZwrbCHwijxQJ_oWxLSTgPBNVo</string>
	<key>GCM_SENDER_ID</key>
	<string>818741741246</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.slimTrack</string>
	<key>PROJECT_ID</key>
	<string>slim-track-42171</string>
	<key>STORAGE_BUCKET</key>
	<string>slim-track-42171.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:818741741246:ios:abd03019af3202ea3480ef</string>
</dict>
</plist>